.frame{
	width : 930px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 50px 0;
}

#header
{
	height: 250px;
	/* Gradiant bck */
	background: #67a2ea; /* Old browsers */
	background: -moz-linear-gradient(top,  #67a2ea 0%, #2989d8 50%, #3a62af 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67a2ea), color-stop(50%,#2989d8), color-stop(100%,#3a62af)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #67a2ea 0%,#2989d8 50%,#3a62af 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #67a2ea 0%,#2989d8 50%,#3a62af 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #67a2ea 0%,#2989d8 50%,#3a62af 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #67a2ea 0%,#2989d8 50%,#3a62af 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67a2ea', endColorstr='#3a62af',GradientType=0 ); /* IE6-9 */
}


#header-frame
{
	width : 930px;
	margin: 0 auto;
	text-align: center;
}

#row-info{
	height: 780px;
}

#row-speakers
{
	display: block;
	height: 800px;
	
	/* Gradiant bck */
	background: #3c62b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #3c62b3 21%, #284384 61%, #1f3362 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#3c62b3), color-stop(61%,#284384), color-stop(100%,#1f3362)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3c62b3 21%,#284384 61%,#1f3362 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3c62b3 21%,#284384 61%,#1f3362 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3c62b3 21%,#284384 61%,#1f3362 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3c62b3 21%,#284384 61%,#1f3362 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c62b3', endColorstr='#1f3362',GradientType=0 ); /* IE6-9 */
}


#row-sponsers
{
	background-color: #FFF;
}

#row-map
{
	padding-top: 0px;
	
	/* Gradiant bck */	
	background: #1f3362; /* Old browsers */
	background: -moz-linear-gradient(top,  #1f3362 0%, #07144f 29%, #000116 58%, #010105 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f3362), color-stop(29%,#07144f), color-stop(58%,#000116), color-stop(100%,#010105)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1f3362 0%,#07144f 29%,#000116 58%,#010105 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1f3362 0%,#07144f 29%,#000116 58%,#010105 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1f3362 0%,#07144f 29%,#000116 58%,#010105 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1f3362 0%,#07144f 29%,#000116 58%,#010105 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3362', endColorstr='#010105',GradientType=0 ); /* IE6-9 */

}

#footer
{
	background-color: #EEE;
}


/* HEADER */

#logo
{
	float: left;
	width: 200px;
	padding-top:30px;
}

#header-right{
	float: right;
	text-align: center;
}

#header-right-title{
	font-size: 40px;
	color: #f9e000;
	font-weight: bold;
	padding: 25px 0 3px 0;
}

#header-right-subtitle{
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	border-top: 2px solid #FFF;
	padding: 3px 0 35px 0;
}

#header-right-date{
	font-size: 24px;
	color: #FFF;
	font-weight: bold;
}

#header-right-place{
	font-size: 24px;
	color: #FFF;
	font-weight: bold;
}

/* --- Info blocks -- */
#row-info ul{
	margin: -4px 0 0 -20px;
}


/* --- Speakers blocks -- */

.speakerblock
{
	height: 300px;
	width: 30%;
	text-align:left;
}

.speakerblock-hour
{
	font-size: 24px;
}

.speakerblock-title
{
	font-size: 24px;
	color: #f9e000;
	font-weight: bold;
}

.speakerblock-subtitle
{
	font-size: 19px;
}

.speakerblock-descr
{
	margin-bottom: 30px;
}


/* --- CONTACT -- */

#map-canvas {
	width: 930px;
	height: 550px;
}


#row-sponsers a{
	padding: 0 5px 0 5px;
}
