html {
    font-size: 100%;
}

body {
    font-family: Segoe UI, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    /*line-height: 20px;*/
}


/* --- Colors --*/

.white {
    color: #FFF;
}

.yellow {
    color: #f9e000;
}


/* --- Floats --- */

.left {
    float: left;
}

.middle {
    display: inline-block;
}

.right {
    float: right;
}